@model Ingredient

<h1>@Model.Name</h1>
<table class="table">
    <thead>
        <tr>
            <td>macro</td>
            <td>grams</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Protein</td>
            <td>@Model.Protein</td>
        </tr>
        <tr>
            <td>Carbs</td>
            <td>@Model.Carbs</td>
        </tr>
        <tr>
            <td>Fats</td>
            <td>@Model.Fats</td>
        </tr>
    </tbody>
</table>
